$size-base: 10px;

.avatar-wrapper {
  width: $size-base * 4;
  height: $size-base * 4;
  border-radius: 50%;
  display: table-cell !important;
  vertical-align: middle;
  text-align: center;

  span {
    font-weight: 600;
    color: rgba(225, 225, 225, 1);
    text-align: center;
  }
}
