
.expand {
  &.bd-expand-close {
    opacity: 0.3;
    transition: all 0.2s;
  }

  &.bd-expand-open {
    transform: rotate(180deg);
    opacity: 1;
    transition: all 0.2s;
  }
}

.table-wrapper {
  overflow: auto;
  display: block;
  width: 100%;
  border: 1px #dcdcdc solid;
  color: #414141;
  padding: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  table {
    overflow-x: scroll;
    min-width: 100%;
    border-collapse: inherit;

    .search-field-row {
      background-color: rgb(250, 250, 250);

      .search-row {
        padding: 0;

        .search-wrapper {
          background-color: rgb(250, 250, 250);
          width: 100%;
          min-height: 40px;
          padding: 10px;

          input {
            background: none !important;
            border: none;
            outline: none;
          }
        }
      }
    }

    .avatar-wrapper {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: table-cell !important;
      vertical-align: middle;
      text-align: center;

      span {
        font-weight: 600;
        color: #fff;
        text-align: center;
      }
    }

    .first-data-row-padding {
      padding-left: 10px;
    }

    th {
      &.mat-header-cell {
        color: #707070;
        font-weight: bold;
        min-width: 100px;
      }

      .hidden-icon {
        padding: 15px;
        width: 12px;
      }

      &.service-column-header {
        min-width: 5px !important;
        width: 20px;
        padding-left: 0 !important;
      }

      &.mat-column-search-field {
        padding: 0 !important;
      }

      &.mat-column-avatar {
        min-width: 60px;
      }

      &.actions-column-header {
        min-width: 20px !important;
      }
    }


    tr {
      &:hover {
        .expand {
          &.bd-expand-close {
            opacity: 1;
          }
        }
      }


      &.mat-row {
        &:nth-child(4n + 3) {
          background-color: #efeff0;
        }
      }

      &.search-field-row {
        height: auto;
      }

      &.expandable-row {
        height: 0;

        .element-detail {
          overflow: hidden;
          display: flex;

          .element-content {
            padding: 8px;
            width: 100%;
          }
        }
      }
    }

    td {
      .checkbox {
        padding: 10px;
      }

      .expand {
        cursor: pointer;
        padding: 15px;
      }

      &.service-column-td {
        min-width: 5px !important;
        width: 20px;
        padding-left: 0 !important;
        border-right: 1px solid #e2e2e4;
      }

      &.mat-cell:last-of-type {
        padding-right: 0 !important;
      }

      &#bdReservedNameForExpandedRow {
        border-bottom: 0;
      }

      &.mat-cell {

        border-bottom: 1px solid #e2e2e4;
        color: #5b5b60 !important;
        border-top: none;
      }
    }
  }
}

.expandedBlock {
  border-bottom: 1px #dcdcdc solid !important;
}

//.column-text-center {
//  text-align: center;
//}
