<div class="table-wrapper">
  <table [dataSource]="dataSource" mat-table matSort multiTemplateDataRows>

    <!-- SEARCH ROW -->
    <ng-container [matColumnDef]="reservedColumnNames.searchRow">
      <th *matHeaderCellDef
          [colSpan]="(dataColumns).length"
          class="search-row"
          mat-header-cell>
        <div class="search-wrapper" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
          <span fxFlex="12px">
            <span [innerHtml]="service.config.searchField.icon"></span>
          </span>

          <input [formControl]="searchCtrl"
                 #searchInput
                 [placeholder]="service.config.searchField.placeholder | translate"
                 fxFlex>

          <span fxFlex="12px">
            <span (click)="searchCtrl.reset()"
                  *ngIf="searchCtrl.value"
                  [innerHTML]="service.config.searchField.resetIcon"
                  class="float-right cursor-pointer"></span>
          </span>
        </div>
      </th>
    </ng-container>

    <!--SERVICE COLUMNS-->
    <!--  EXPAND AND CHECKBOX ROW COLUMN  -->
    <ng-container
      *ngIf="expandedRow || bulk"
      [matColumnDef]="reservedColumnNames.serviceColumn"
      [sticky]="true"
    >
      <th
        *matHeaderCellDef
        mat-header-cell
        class="service-column-header"
        [ngStyle]="{'width': bulk && expandedRow ? '15px' : '5px'}"
      >
        <div fxLayout="row" fxLayoutAlign="center center">
          <i class="hidden-icon" *ngIf="expandedRow"></i>
          <mat-checkbox #massBulkCheckbox
                        *ngIf="bulk && data.length > 0"
                        (bdShortPress)="$event.stopPropagation()"
                        (change)="massSelectionChange()"
                        class="bulk-checkbox"
          ></mat-checkbox>
        </div>
      </th>

      <td
        *matCellDef="let element"
        mat-cell
        class="service-column-td"
        [ngStyle]="{'width': bulk && expandedRow ? '15px' : '5px'}"
      >
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="expand"
                *ngIf="expandedRow"
                (bdShortPress)="$event.stopPropagation();onExpandedClicked(element);"
                [ngClass]="expandedElement && element === expandedElement ? 'bd-expand-open' : 'bd-expand-close'"
          >
            <span [innerHTML]="service.config.expandIcon"></span>
          </span>

          <span
            class="checkbox"
            *ngIf="bulk"
          >
          <mat-checkbox (bdShortPress)="$event.stopPropagation()"
                        (change)="bulkContainer$.next()"
                        [(ngModel)]="element['selected']">
          </mat-checkbox>
        </span>
        </div>

      </td>

      <!--        [class.service-column-left]="expandedRow && !bulk"-->
    </ng-container>

    <!-- ACTIONS COLUMN -->
    <ng-container [matColumnDef]="reservedColumnNames.actionsColumn" stickyEnd>
      <th *matHeaderCellDef
          mat-header-cell
          class="actions-column-header">
      </th>
      <td *matCellDef="let element" mat-cell class="service-column-right">
        <button (bdShortPress)="$event.stopPropagation()" [matMenuTriggerFor]="buttonsMenu"
                mat-icon-button>
          <span [outerHTML]="service.config.actionsColumn.icon"></span>
        </button>

        <mat-menu #buttonsMenu="matMenu">
          <ng-container *ngFor="let action of actions">
            <ng-container [ngSwitch]="action | simpleOrConditionalAction">
              <ng-container *ngSwitchCase="'simple'">
                <button (click)="emitActionRequest(action, element['originalIndex'])"
                        *bdDomElementValidator="roles ? roles[action] : null"
                        mat-menu-item>
                  <span [outerHTML]="service.config.actionsColumn.actions[action].icon"></span>
                  <span
                    style="margin-left: 10px">{{service.config.actionsColumn.actions[action].label | translate}}</span>
                </button>
              </ng-container>
              <ng-container *ngSwitchCase="'conditional'">
                <button (click)="emitActionRequest(action.type, element['originalIndex'])"
                        *bdDomElementValidator="roles ? roles[action.type] : null"
                        [disabled]="!(data[element['originalIndex']] | checkActionCondition:action.condition)"
                        mat-menu-item>
                  <span [outerHTML]="service.config.actionsColumn.actions[action.type].icon"></span>
                  <span
                    style="margin-left: 10px">{{service.config.actionsColumn.actions[action.type].label | translate}}</span>
                </button>
              </ng-container>
            </ng-container>

          </ng-container>
        </mat-menu>
      </td>
    </ng-container>

    <!-- COLUMNS WITH DATA !== [] -->
    <ng-container *ngFor="let column of columns | orderedKeyValue; let i=index"
                  [matColumnDef]="column.key"
                  [sticky]="!bulk && column.value['_columnType'] === 'TextColumn' && column.value['isAvatar']">
      <th *matHeaderCellDef
          [disabled]="!column.value['config']['sortable']"
          mat-header-cell
          mat-sort-header

          [ngClass]="{
            'avatar-column-header': column.value['_columnType'],
            'first-data-row-padding': isFirstColumnPadding(column.key)
          }"
      >
        <ng-container *ngIf="column.value['_columnType'] !== 'AvatarColumn'">
          {{translatePath + column.key | translate}}
        </ng-container>
      </th>

      <ng-container *ngIf="data">
        <td *matCellDef="let element"
            [ngClass]="{
              'avatar-cell': column.value['_columnType'] !== 'AvatarColumn',
              'first-data-row-padding': isFirstColumnPadding(column.key),
              'column-text-center': column.value['_columnType'] === 'TextColumn' && !element[column.key]
            }"

            mat-cell
        >
          <ng-container [ngSwitch]="column.value['_columnType']">

            <!-- Text Column -->
            <ng-container *ngSwitchCase="'TextColumn'">
              {{element[column.key] | translate | sliceWithDots:column.value['limit'] | nullOrUndefinedHandler:{placeholder: '-'} }}
            </ng-container>

            <!-- Avatar Column -->
            <ng-container *ngSwitchCase="'AvatarColumn'">
               <span bdRandomClass class='avatar-wrapper'>
                  <span>{{element[column.key] | firstLetter | nullOrUndefinedHandler:{placeholder: '?'} }}</span>
               </span>
            </ng-container>

            <!-- Date Column -->
            <ng-container *ngSwitchCase="'DateColumn'">
              <ng-container *ngIf="column.value['timeAgo']; else notTimeAgo">
                {{element[column.key] | timeAgo | nullOrUndefinedHandler:{placeholder: '-'} }}
              </ng-container>
              <ng-template #notTimeAgo>
                {{element[column.key] | bdDate:column.value['format'] | nullOrUndefinedHandler:{placeholder: '-'} }}
              </ng-template>
            </ng-container>

            <!-- Icon Column -->
            <ng-container *ngSwitchCase="'IconColumn'">
              <span
                (bdShortPress)="column.value['action'] && emitActionRequest(column.value['action'], element['originalIndex']);$event.stopPropagation()"
                [innerHTML]="element[column.key] | toIcon:column.value['icons']"></span>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
    </ng-container>

    <!-- EXPANDED ROW -->
    <ng-container [matColumnDef]="reservedColumnNames.expandedRow">
      <td *matCellDef="let element; let index = dataIndex"
          [colSpan]="dataColumns.length"
          mat-cell
          [class.expandedBlock]="element === expandedElement"
          id="{{reservedColumnNames.expandedRow}}"
      >
        <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
             class="element-detail">
          <div *ngIf="expandedRow" class="element-content">
            <ng-container [ngTemplateOutletContext]="{element: data[index]}"
                          [ngTemplateOutlet]="expandedRow">
            </ng-container>
          </div>
        </div>
      </td>
    </ng-container>

    <!--  FINAL THINGS  -->
    <tr *matHeaderRowDef="[reservedColumnNames.searchRow]" [hidden]="!search" class="search-field-row"
        mat-header-row></tr>

    <tr *matHeaderRowDef="dataColumns" mat-header-row></tr>

    <tr (bdShortPress)="onRowClicked(element);$event.stopPropagation()"
        *matRowDef="let element; let index = dataIndex; columns: dataColumns;"
        mat-row>
    </tr>

    <tr *matRowDef="let row; columns: [reservedColumnNames.expandedRow]" class="expandable-row" mat-row
    ></tr>

  </table>

  <mat-paginator [hidden]="!paginator"></mat-paginator>
</div>
