$size-base: 10px;

$border: $size-base * 0.1 solid #E0E0E0;
$cell-padding: 0 $size-base;

$grey-for-background: #F6F6F6;
$main-text-color: rgba(0, 0, 0, .87);
$sub-text-color: rgba(0, 0, 0, .54);

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

:host(.bd-table),
:host(.bd-lazy-table) {
  display: block;
  min-width: 100%;
  padding: 0;

  .table-header {
    height: 4 * $size-base;
    margin-bottom: $size-base;

    .title-wrapper {
      height: 100%;
      flex-grow: 2;

      .title-text {
        color: $main-text-color;
      }
    }

    .selected-from-text,
    .filtered-by-text {
      color: $sub-text-color;
      margin-left: $size-base * 2;
      font-weight: 500;
    }

    .system-button {
      margin: 0 0.5 * $size-base;
      min-width: 40px;

      &:last-of-type {
        margin-right: 0;
      }
      &.mat-stroked-button {
        background-color: white;
      }
    }

    .bulk-action-button {
      font-size: 20px;
      color: $sub-text-color;
    }

    .filtered-by-text {
      margin-right: $size-base;
    }

    mat-chip-list {
      display: inline-block;

      .mat-chip-remove {
        line-height: initial;
      }
    }

    .text-search-container {
      margin-right: 16px;
    }

    ::ng-deep .text-search-container .mat-form-field-wrapper {
      position: relative;
      bottom: -6px;
    }
  }

  .table-wrapper {
    overflow: auto;

    .mat-table {
      overflow-x: scroll;
      min-width: 100%;
      border-collapse: inherit;

      .mat-header-row {
        .mat-header-cell {
          font-weight: 500;
          font-size: $size-base * 1.3;
          color: rgba(0, 0, 0, 1);
          padding: $cell-padding;

          ::ng-deep .mat-sort-header-button {
            text-align: left;
          }

          &.expand-arrow-row-header-cell,
          &.bulk-checkbox-row-header-cell {
            width: $size-base * 4;
          }

          &.bulk-checkbox-row-header-cell {
            text-align: center;
          }

          &.data-row-header-cell {
            &.progress-bar-row-header-cell {
              min-width: $size-base * 10;
            }

            &.avatar-row-header-cell {
              width: $size-base * 4;
            }

            &:not(.avatar-row-header-cell) {
              min-width: $size-base * 15;
            }
          }

          &.actions-row-header-cell {
            text-align: right;
          }
        }
      }

      .mat-row {
        transition: background-color .25s;

        &.data-row {
          &.clickable {
            cursor: pointer;
          }

          &.selected {
            background-color: $grey-for-background;
          }
        }

        &.expanded-element-row {
          height: 0;

          &.active {
            + .data-row {
              .mat-cell {
                border-top: $border;
              }
            }
          }
        }

        &:hover {
          background-color: $grey-for-background;

          .mat-cell {
            &.expand-arrow-row-cell {
              .expand {
                &.expand-open {
                  opacity: 1;
                }
              }
            }

            &.expand-arrow-row-cell {
              .expand {
                &.expand-open {
                  color: $main-text-color;
                }
              }
            }

            &.actions-row-cell {
              .single-actions-button {
                visibility: visible !important;
                transition: visibility .25s;
              }
            }
          }
        }

        .mat-cell {
          color: $main-text-color;
          font-size: $size-base * 1.3;
          //border-bottom: $border;
          padding: $cell-padding;

          &.expand-arrow-row-cell,
          &.bulk-checkbox-row-cell {
            text-align: center;
          }

          &.expand-arrow-row-cell {
            .expand {
              display: inline-block;
              cursor: pointer;
              transition: all 0.25s;

              &.expand-open {
                color: $sub-text-color;
              }

              &.expand-close {
                transform: rotate(180deg);
                color: $main-text-color;
              }
            }
          }

          &.data-row-cell {
          }

          &.expanded-element-row-cell {
            border-bottom-width: 0 !important;

            .expanded-element-row-cell-element-detail {
              overflow: hidden;
              display: flex;

              .expanded-element-row-cell-element-content {
                padding: $size-base;
                width: 100%;
              }
            }
          }

          &.actions-row-cell {
            text-align: right;

            .single-actions-button:not(.menu-opened) {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}

.action-label {
  margin-left: $size-base
}

.filter-label {
  margin-left: $size-base * .5;
}
