<div>{{cellValue.main | nullOrUndefinedHandler:config.nullOrUndefinedPipePlaceholder }}</div>
<div *ngIf="columnConfig.subPath"
     class="text-column-sub-text">
  {{cellValue.sub | nullOrUndefinedHandler:config.nullOrUndefinedPipePlaceholder }}
</div>
