<div class="table-header" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="title-wrapper">
    <span class="mat-headline title-text">
      <ng-content></ng-content>
    </span>

    <ng-container *ngIf="table.hasBulkActions && table.bulkSelection.hasValue()">
      <span class="mat-small selected-from-text fade-in">
        {{table.bulkSelection.selected.length}}
        {{config.globalTranslatePrefix + 'selected' | translate}}
      </span>
    </ng-container>
  </div>

  <div *ngIf="table.textSearchEnabled" class="text-search-container">
    <mat-form-field appearance="legacy">
      <mat-label>{{table.textSearchPlaceholder}}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [formControl]="table.textSearchControl" [placeholder]="table.textSearchPlaceholder">
    </mat-form-field>
  </div>

  <div *ngIf="table.hasBulkActions && table.bulkSelection.hasValue(); else filtersAndDisplayColumnsButtons"
       class="fade-in">
    <ng-container *ngFor="let bulkAction of table.actions | filterActions:'bulk'; let index = index; let last = last">
      <ng-container *ngIf="index >= 0 && index <= bulkButtonsLimit">
        <button (click)="table.emitBulkActionRequest(bulkAction)"
                *ngIf="table.actions[bulkAction].custom && !config.actionIcons[bulkAction]"
                [matTooltip]="table.actions[bulkAction].custom.label | translate"
                class="bulk-action-button"
                mat-icon-button>
          <i [class]="table.actions[bulkAction].custom.iconClass"></i>
        </button>
        <button (click)="table.emitBulkActionRequest(bulkAction)"
                *ngIf="config.actionIcons[bulkAction] && !table.actions[bulkAction].custom"
                [matTooltip]="config.actionIcons[bulkAction].label"
                class="bulk-action-button"
                mat-icon-button>
          <i [class]="config.actionIcons[bulkAction].iconClass"></i>
        </button>
      </ng-container>

      <ng-container *ngIf=" last && index > bulkButtonsLimit">
        <button [matMenuTriggerFor]="bulkActionsMenu"
                class="bulk-action-button"
                mat-icon-button>
          <i [class]="config.globalIcons.actions"></i>
        </button>
      </ng-container>
    </ng-container>
  </div>

  <ng-template #filtersAndDisplayColumnsButtons>
    <div class="fade-in">
      <ng-container *ngIf="(table.filtersValue | activeFilters) as activeFilters">
        <ng-container *ngIf="activeFilters.length">
          <span class="filtered-by-text mat-small">{{config.globalTranslatePrefix + 'filtered-by' | translate}}:</span>
          <mat-chip-list>
            <mat-chip (removed)="table.removeFilter(filter)"
                      *ngFor="let filter of activeFilters"
                      [removable]="true">
                <span class="mat-small">
                  {{table.translatePrefix + filter | translate}}
                </span>
              <i [class]="config.globalIcons.removeChip" matChipRemove></i>
            </mat-chip>
          </mat-chip-list>
        </ng-container>
      </ng-container>

      <button (click)="table.openFiltersDialog()"
              *ngIf="table.hasFilters"
              [matTooltip]="config.globalTranslatePrefix + 'filter' | translate"
              class="system-button"
              mat-stroked-button>
        <i [class]="config.globalIcons.filter"></i>
        <span class="filter-label">{{'filter' | translate}}</span>
      </button>

      <button (click)="table.openDisplayColumnsDialog()"
              *ngIf="table.hasDisplayedColumnsUpdate"
              [matTooltip]="config.globalTranslatePrefix + 'customize-columns' | translate"
              class="system-button"
              mat-stroked-button>
        <i [class]="config.globalIcons.displayedColumns"></i>
      </button>

      <!-- HEADER ACTIONS -->
      <ng-container *ngFor="let action of table.actions | filterActions:'header'">
        <button (click)="table.emitHeaderActionRequest(action)"
                *bdDomElementValidator="table.actions[action].role"
                class="system-button" color="primary"
                mat-flat-button>
          <i [class]="table.actions[action].custom?.iconClass || config.actionIcons[action]?.iconClass"></i>
          <span
            class="action-label">{{(table.actions[action].custom?.label || config.actionIcons[action]?.label) | translate | uppercase}}</span>
        </button>
      </ng-container>
    </div>
  </ng-template>
</div>

<mat-menu #bulkActionsMenu>
  <ng-template matMenuContent>
    <ng-container *ngFor="let bulkAction of table.actions | filterActions:'bulk'; let index = index">
      <ng-container *ngIf="index > bulkButtonsLimit">
        <button (click)="table.emitBulkActionRequest(bulkAction)"
                *ngIf="table.actions[bulkAction].custom && !config.actionIcons[bulkAction]"
                [matTooltip]="table.actions[bulkAction].custom.label | translate"
                mat-menu-item>
          <!--          <i [class]="table.actions[bulkAction].custom.iconClass"></i>-->
          <span class="action-label">{{table.actions[bulkAction].custom.label | translate}}</span>
        </button>
        <button (click)="table.emitBulkActionRequest(bulkAction)"
                *ngIf="config.actionIcons[bulkAction] && !table.actions[bulkAction].custom"
                [matTooltip]="config.actionIcons[bulkAction].label"
                mat-menu-item>
          <!--          <i [class]="config.actionIcons[bulkAction].iconClass"></i>-->
          <span class="action-label">{{config.actionIcons[bulkAction].label | translate}}</span>
        </button>
      </ng-container>
    </ng-container>
  </ng-template>
</mat-menu>
