$size-base: 10px;
$main-text-color: rgba(0, 0, 0, .87);
$sub-text-color: rgba(0, 0, 0, .54);

.table-header {
  height: 4 * $size-base;
  margin-bottom: $size-base;

  .title-wrapper {
    height: 100%;
    flex-grow: 2;

    .title-text {
      color: $main-text-color;
    }
  }

  .selected-from-text,
  .filtered-by-text {
    color: $sub-text-color;
    margin-left: $size-base * 2;
    font-weight: 500;
  }

  .system-button {
    margin: 0 0.5 * $size-base;
    min-width: 40px;

    &:last-of-type {
      margin-right: 0;
    }
    &.mat-stroked-button {
      background-color: white;
    }
  }

  .bulk-action-button {
    font-size: 20px;
    color: $sub-text-color;
  }

  .filtered-by-text {
    margin-right: $size-base;
  }

  mat-chip-list {
    display: inline-block;

    .mat-chip-remove {
      line-height: initial;
    }
  }

  .text-search-container {
    margin-right: 16px;
  }

  ::ng-deep .text-search-container .mat-form-field-wrapper {
    position: relative;
    bottom: -6px;
  }
}

.action-label {
  margin-left: $size-base
}

.filter-label {
  margin-left: $size-base * .5;
}
