<mat-progress-bar *ngIf="cellValue.actual && cellValue.max; else noProgressBarDataTmpl"
                  [class]="cellValue.klass"
                  [value]="cellValue.ratio"
                  mode="determinate"></mat-progress-bar>

<ng-template #noProgressBarDataTmpl>
  {{config.nullOrUndefinedPipePlaceholder}}
</ng-template>
