.order-list {
  display: block;
  overflow: hidden;

  &__item-box {
    user-select: none;
  }

  &__item {
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 280px;
    height: 36px;
    margin: 5px 5px;
    padding: 10px;

    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &__handler {
    cursor: move;
  }

  &.cdk-drop-list-dragging &__item-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
