<mat-card-header mat-dialog-title>
  <mat-card-title>{{config.globalTranslatePrefix + 'customize-columns' | translate}}</mat-card-title>
</mat-card-header>

<mat-card-content mat-dialog-content>
  <div (cdkDropListDropped)="reorderColumns($event)" cdkDropList class="order-list">
    <div *ngFor="let displayedColumn of data.displayedColumns"
         cdkDrag
         class="order-list__item-box">
      <div class="order-list__item">
        <mat-checkbox [(ngModel)]="displayedColumn.isDisplayed">
          {{data.translatePrefix + displayedColumn.name | translate}}
        </mat-checkbox>
        <span cdkDragHandle class="order-list__handler">
          <i [class]="config.globalIcons.displayedColumnsReorder"></i>
        </span>
      </div>
    </div>
  </div>
</mat-card-content>

<mat-card-actions align="end" mat-dialog-actions>
  <button color="primary"
          mat-button
          mat-dialog-close>
    {{config.globalTranslatePrefix + 'cancel' | translate | uppercase}}
  </button>
  <button (click)="submit(data.displayedColumns)"
          color="primary"
          mat-button>
    {{config.globalTranslatePrefix + 'save' | translate | uppercase}}
  </button>
</mat-card-actions>
