<div *ngIf="hasHeader && !customHeader" class="table-header" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="title-wrapper">
    <span *ngIf="title" class="mat-headline title-text">{{translatePrefix + title | translate}}</span>

    <ng-container *ngIf="hasBulkActions && bulkSelection.hasValue()">
        <span class="mat-small selected-from-text fade-in">
          {{bulkSelection.selected.length}}
          {{config.globalTranslatePrefix + 'selected' | translate}}
        </span>

      <button (click)="toggleAll()"
              *ngIf="isCurrentPageSelected()"
              class="mat-button-with-transparent-background"
              color="primary"
              mat-button>
        <ng-container *ngIf="isAllSelected(); else selectTextPlaceholder">
          {{'deselect-all' | translate}}
        </ng-container>

        <ng-template #selectTextPlaceholder>
          {{'select-all' | translate}}
        </ng-template>

        {{dataSource.data.length}}

        {{'rows-in-this-table' | translate}}
      </button>
    </ng-container>
  </div>

  <div *ngIf="textSearchEnabled" class="text-search-container">
    <mat-form-field appearance="legacy">
      <mat-label>{{textSearchPlaceholder}}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [formControl]="textSearchControl" [placeholder]="textSearchPlaceholder">
    </mat-form-field>
  </div>

  <div *ngIf="hasBulkActions && bulkSelection.hasValue(); else filtersAndDisplayColumnsButtons"
       class="fade-in">
    <ng-container *ngFor="let bulkAction of _bulkActions; let index = index; let last = last">
      <ng-container *ngIf="index >= 0 && index <= 2">
        <button (click)="emitBulkActionRequest(bulkAction)"
                *ngIf="_actions[bulkAction].custom && !config.actionIcons[bulkAction]"
                [matTooltip]="_actions[bulkAction].custom.label | translate"
                class="bulk-action-button"
                mat-icon-button>
          <i [class]="_actions[bulkAction].custom.iconClass"></i>
        </button>
        <button (click)="emitBulkActionRequest(bulkAction)"
                *ngIf="config.actionIcons[bulkAction] && !_actions[bulkAction].custom"
                [matTooltip]="config.actionIcons[bulkAction].label"
                class="bulk-action-button"
                mat-icon-button>
          <i [class]="config.actionIcons[bulkAction].iconClass"></i>
        </button>
      </ng-container>

      <ng-container *ngIf=" last && index > 2">
        <button [matMenuTriggerFor]="bulkActionsMenu"
                class="bulk-action-button"
                mat-icon-button>
          <i [class]="config.globalIcons.actions"></i>
        </button>
      </ng-container>
    </ng-container>
  </div>

  <ng-template #filtersAndDisplayColumnsButtons>
    <div class="fade-in">
      <ng-container *ngIf="(filtersValue | activeFilters) as activeFilters">
        <ng-container *ngIf="activeFilters.length">
          <span class="filtered-by-text mat-small">{{config.globalTranslatePrefix + 'filtered-by' | translate}}:</span>
          <mat-chip-list>
            <mat-chip (removed)="removeFilter(filter)"
                      *ngFor="let filter of activeFilters"
                      [removable]="true">\
              <span class="mat-small">
                    {{translatePrefix + filter | translate}}
                  </span>
              <i [class]="config.globalIcons.removeChip" matChipRemove></i>
            </mat-chip>
          </mat-chip-list>
        </ng-container>
      </ng-container>

      <button (click)="openFiltersDialog()"
              *ngIf="hasFilters"
              [matTooltip]="config.globalTranslatePrefix + 'filter' | translate"
              class="system-button"
              mat-stroked-button>
        <i [class]="config.globalIcons.filter"></i>
        <span class="filter-label">{{'filter' | translate}}</span>
      </button>

      <button (click)="openDisplayColumnsDialog()"
              *ngIf="hasDisplayedColumnsUpdate"
              [matTooltip]="config.globalTranslatePrefix + 'customize-columns' | translate"
              class="system-button"
              mat-stroked-button>
        <i [class]="config.globalIcons.displayedColumns"></i>
      </button>

      <!-- HEADER ACTIONS -->
      <ng-container *ngFor="let action of _headerActions">
        <button (click)="emitHeaderActionRequest(action)"
                *bdDomElementValidator="_actions[action].role"
                class="system-button" color="primary"
                mat-flat-button>
          <i [class]="_actions[action].custom?.iconClass || config.actionIcons[action]?.iconClass"></i>
          <span
                  class="action-label">{{(_actions[action].custom?.label || config.actionIcons[action]?.label) | translate | uppercase}}</span>
        </button>
      </ng-container>
    </div>
  </ng-template>
</div>

<ng-content select="[bdTableHeader]"></ng-content>

<div class="mat-elevation-z1">
  <div class="table-wrapper">
    <table [dataSource]="dataSource"
           mat-table
           matSort
           multiTemplateDataRows>

      <!-- BULK CHECKBOX COLUMN -->
      <ng-container *ngIf="hasBulkActions"
                    [matColumnDef]="reservedNames.bulkCheckboxColumn"
                    [sticky]="true">
        <th *matHeaderCellDef
            class="bulk-checkbox-row-header-cell"
            mat-header-cell>
          <mat-checkbox #massBulkCheckbox
                        (change)="$event && toggleCurrentPage()"
                        [checked]="bulkSelection.hasValue() && isCurrentPageSelected()"
                        [indeterminate]="bulkSelection.hasValue() && !isAllSelected()"
                        class="bulk-checkbox"></mat-checkbox>
        </th>

        <td (shortPress)="$event.stopPropagation()"
            bdClicker
            *matCellDef="let element"
            class="bulk-checkbox-row-cell"
            mat-cell>
          <mat-checkbox (change)="$event && bulkSelection.toggle(element)"
                        [checked]="bulkSelection.isSelected(element)"
                        class="checkbox"></mat-checkbox>
        </td>
      </ng-container>

      <!-- EXPAND ARROW COLUMN -->
      <ng-container *ngIf="hasExpandedRow"
                    [matColumnDef]="reservedNames.expandArrowColumn"
                    [sticky]="true">
        <th *matHeaderCellDef
            class="expand-arrow-row-header-cell"
            mat-header-cell></th>

        <td (click)="$event.stopPropagation()"
            *matCellDef="let element"
            class="expand-arrow-row-cell"
            mat-cell>
            <span (click)="onExpandArrowClicked(element);$event.stopPropagation();"
                  [ngClass]="expandedElement && element === expandedElement ? 'expand-close' : 'expand-open'"
                  class="expand">
              <i [class]="config.globalIcons.expand"></i>
            </span>
        </td>
      </ng-container>

      <!-- DATA COLUMNS -->
      <ng-container *ngFor="let column of _columns | orderedKeyValue; let i=index"
                    [matColumnDef]="column.key">
        <th *matHeaderCellDef
            [class.avatar-row-header-cell]="column.value['discriminator'] === 'AvatarColumn'"
            [class.progress-bar-row-header-cell]="column.value['discriminator'] === 'ProgressBarColumn'"
            [class.text-row-header-cell]="column.value['discriminator'] === 'TextColumn'"
            [disabled]="!globalSort || column.value['sortable'] === false || column.value['discriminator'] === 'AvatarColumn'"
            class="data-row-header-cell mat-subheading-1"
            mat-header-cell
            mat-sort-header>
          <ng-container *ngIf="column.value['discriminator'] !== 'AvatarColumn'">
            {{translatePrefix + column.key | translate}}
          </ng-container>
        </th>

        <ng-container *ngIf="data">
          <td *matCellDef="let element"
              [class.avatar-row-cell]="column.value['discriminator'] === 'AvatarColumn'"
              [class.icon-row-cell]="column.value['discriminator'] === 'IconColumn'"
              [class.progress-bar-row-cell]="column.value['discriminator'] === 'ProgressBarColumn'"
              [class.text-row-cell]="column.value['discriminator'] === 'TextColumn'"
              [matTooltipDisabled]="column.value['discriminator'] !== 'ProgressBarColumn'"
              [matTooltip]="element[column.key] && element[column.key]['tooltip']"
              class="data-row-cell"
              mat-cell>
            <ng-container *ngIf="customColumnTemplateRefs[column.key]; else notCustomColumnTemplate">
              <ng-container
                      *ngTemplateOutlet="customColumnTemplateRefs[column.key]; context: {element:  data[element['originalIndex']], parsedElement: element}"></ng-container>
            </ng-container>

            <ng-template #notCustomColumnTemplate>
              <ng-container [ngSwitch]="column.value['discriminator']">

                <bd-avatar-column-cell *ngSwitchCase="'AvatarColumn'"
                                       [cellValue]="element[column.key]"
                                       [columnConfig]="column.value">
                </bd-avatar-column-cell>

                <bd-date-column-cell *ngSwitchCase="'DateColumn'"
                                     [cellValue]="element[column.key]"
                                     [columnConfig]="column.value">
                </bd-date-column-cell>

                <bd-icon-column-cell *ngSwitchCase="'IconColumn'"
                                     [cellValue]="element[column.key]"
                                     [columnConfig]="column.value"
                                     (actionRequest)="emitActionRequest($event, element['originalIndex'])">
                </bd-icon-column-cell>

                <bd-progress-bar-column-cell *ngSwitchCase="'ProgressBarColumn'"
                                             [cellValue]="element[column.key]"
                                             [columnConfig]="column.value">
                </bd-progress-bar-column-cell>

                <bd-text-column-cell *ngSwitchCase="'TextColumn'"
                                     [cellValue]="element[column.key]"
                                     [columnConfig]="column.value">
                </bd-text-column-cell>

              </ng-container>
            </ng-template>

          </td>
        </ng-container>
      </ng-container>

      <!-- EXPANDED ELEMENT COLUMN -->
      <ng-container *ngIf="hasExpandedRow"
                    [matColumnDef]="reservedNames.expandedColumn">
        <td *matCellDef="let element; let index = dataIndex"
            [colSpan]="displayedColumns.length"
            class="expanded-element-row-cell"
            mat-cell>
          <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
               class="expanded-element-row-cell-element-detail">
            <div *ngIf="element == expandedElement"
                 class="expanded-element-row-cell-element-content">
              <ng-template
                      *ngComponentOutlet="expandedComponentRef; injector: expandedComponentInjectors[index]"></ng-template>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- ACTIONS COLUMN -->
      <ng-container *ngIf="hasSingleActions"
                    [matColumnDef]="reservedNames.actionsColumn"
                    stickyEnd>
        <th *matHeaderCellDef
            class="actions-row-header-cell"
            mat-header-cell></th>

        <td (shortPress)="$event.stopPropagation()"
            bdClicker
            *matCellDef="let element"
            class="actions-row-cell"
            mat-cell>
          <button #singleActionsMenuTrigger="matMenuTrigger"
                  *ngIf="element['singleActions'].length"
                  [class.menu-opened]="singleActionsMenuTrigger.menuOpen"
                  [matMenuTriggerData]="{element: element}"
                  [matMenuTriggerFor]="singleActionsMenu"
                  class="single-actions-button"
                  mat-icon-button>
            <i [class]="config.globalIcons.actions"></i>
          </button>
        </td>
      </ng-container>

      <!-- FINAL THINGS -->
      <tr *matHeaderRowDef="displayedColumns"
          class="data-header-row"
          mat-header-row></tr>

      <tr (shortPress)="onRowClicked(element);$event.stopPropagation()"
          bdClicker
          *matRowDef="let element; let index = dataIndex; columns: displayedColumns;"
          [class.clickable]="hasCursorPointer"
          [class.selected]="bulkSelection.isSelected(element)"
          class="data-row"
          mat-row></tr>

      <ng-container *ngIf="hasExpandedRow">
        <tr *matRowDef="let element; columns: [reservedNames.expandedColumn]"
            [class.active]="element === expandedElement"
            class="expanded-element-row"
            mat-row></tr>
      </ng-container>

    </table>
  </div>

  <mat-paginator [style.display]="hasPagination ? 'block' : 'none'"></mat-paginator>
</div>

<mat-menu #singleActionsMenu="matMenu">
  <ng-template matMenuContent let-element="element">
    <ng-container *ngFor="let singleAction of element['singleActions']">
      <button (click)="emitActionRequest(singleAction, element['originalIndex'])"
              mat-menu-item>
        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="_actions[singleAction].custom && !config.actionIcons[singleAction]">
            <i [class]="_actions[singleAction].custom.iconClass"></i>
            <span class="action-label">{{_actions[singleAction].custom.label | translate}}</span>
          </ng-container>
          <ng-container *ngSwitchCase="config.actionIcons[singleAction] && !_actions[singleAction].custom">
            <i [class]="config.actionIcons[singleAction].iconClass"></i>
            <span class="action-label">{{config.actionIcons[singleAction].label | translate}}</span>
          </ng-container>
        </ng-container>
      </button>
    </ng-container>
  </ng-template>
</mat-menu>

<mat-menu #bulkActionsMenu>
  <ng-template matMenuContent>
    <ng-container *ngFor="let bulkAction of _bulkActions; let index = index">
      <ng-container *ngIf="index > 2">
        <button (click)="emitBulkActionRequest(bulkAction)"
                *ngIf="actions[bulkAction].custom && !config.actionIcons[bulkAction]"
                [matTooltip]="actions[bulkAction].custom.label | translate"
                mat-menu-item>
          <!--          <i [class]="_actions[bulkAction].custom.iconClass"></i>-->
          <span class="action-label">{{actions[bulkAction].custom.label | translate}}</span>
        </button>
        <button (click)="emitBulkActionRequest(bulkAction)"
                *ngIf="config.actionIcons[bulkAction] && !actions[bulkAction].custom"
                [matTooltip]="config.actionIcons[bulkAction].label"
                mat-menu-item>
          <!--          <i [class]="config.actionIcons[bulkAction].iconClass"></i>-->
          <span class="action-label">{{config.actionIcons[bulkAction].label | translate}}</span>
        </button>
      </ng-container>
    </ng-container>
  </ng-template>
</mat-menu>
