.gradient-strawberry {
  background-image: linear-gradient(45deg, #fe0b46, #ffab96);
}

.gradient-orange {
  background-image: linear-gradient(45deg, #c471f3, #f671cd);
}

.gradient-dawn {
  background-image: linear-gradient(45deg, #f3904f, #3b4371);
}

.gradient-shdow-night {
  background-image: linear-gradient(45deg, #000, #53346d);
}

.gradient-man-of-steel {
  background-image: linear-gradient(45deg, #780206, #061161);
}

.gradient-flickr {
  background-image: linear-gradient(45deg, #33001b, #ff0084);
}

.gradient-ibiza-sunset {
  background-image: linear-gradient(45deg, #ee0979, #ff6a00);
}

.gradient-politics {
  background-image: linear-gradient(45deg, #2196f3, #f44336);
}
