<ng-container *ngIf="columnConfig.timeAgo; else notTimeAgo">
  {{cellValue | timeAgo | nullOrUndefinedHandler:config.nullOrUndefinedPipePlaceholder }}
</ng-container>
<ng-template #notTimeAgo>
  {{cellValue | bdDate:columnConfig.format | nullOrUndefinedHandler:config.nullOrUndefinedPipePlaceholder }}
</ng-template>
