<i (shortPress)="columnConfig.action && actionRequest.emit(columnConfig.action)"
   [class.icon-offset]="columnConfig.withLabel"
   [class]="cellValue | toIcon:columnConfig.icons"
   bdClicker></i>
<ng-container *ngIf="columnConfig.withLabel">
  {{cellValue | toLabel:columnConfig.icons | nullOrUndefinedHandler:config.nullOrUndefinedPipePlaceholder}}
</ng-container>
