<mat-card-header mat-dialog-title>
  <span>{{'filters' | translate}}</span>
  <button (click)="resetAndClose()" [color]="'primary'" mat-button>{{'reset-all' | translate}}</button>
</mat-card-header>

<mat-card-content mat-dialog-content>
  <bd-dynamic-form [form]="form" [metadata]="data.metadata"></bd-dynamic-form>
</mat-card-content>

<mat-card-actions mat-dialog-actions align="end">
  <button [color]="'primary'" mat-button mat-dialog-close>{{'cancel' | translate}}</button>
  <button [color]="'primary'" [mat-dialog-close]="form.value" mat-button>{{'save' | translate}}</button>
</mat-card-actions>
